{% extends 'base.html.twig' %}


{% block nav %}
{% endblock %}


{% block body %}
  <div class="container col-md-7 col-lg-5 mt-sm-5">
    <div class="card bg-light text-center">
      <div class="card-header pt-3">
        <h4>
          {% block header %}
          {% endblock %}
        </h4>
      </div>

      <div class="card-body">
        {% block messages %}
        {% endblock %}

        {% block form %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
