###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> phpUnit ###
phpunit.xml
###< phpUnit ###

###> testing ###
habhum-tests-drop.sql
habhum-tests-import.sql
###< testing ###