<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="DATABASE_URL" value="mysql://USERNAME:PASSWORD@127.0.0.1/DB_NAME" />

        <!-- ###+ mailgun/mailgun-php ### -->
        <!-- Get your API key form https://app.mailgun.com/app/domains -->
        <env name="MAILGUN_API_KEY" value="&quot;replace_me&quot;"/>
        <!-- ###- mailgun/mailgun-php ### -->
    </php>

    <testsuites>
        <testsuite name="Symfony PHPUnit Bridge Test Suite">
            <directory>./Tests/</directory>
            <directory suffix=".phpt">./Tests/DeprecationErrorHandler/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <groups>
      <include>
        <group>url</group>
        <group>mission</group>
        <group>accomodation</group>
      </include>
    </groups>
</phpunit>
