{% extends 'missions/layout.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block layout_h2 %}
	Modifier une fiche mission
{% endblock %}

{% block content %}
	<p>
		Formulaire :
	</p>
	{{ form_start(form) }}
		{{ form_widget(form) }}
		<input type="submit" class="btn" value="Modifier la Fiche Mission"/>
	{{ form_end(form) }}
{% endblock %}