{% extends 'base.html.twig' %}

{# {% block body %}
	<div class="container">
		<h3>{% block layout_h3 %}Fiches Mission{% endblock %}</h3>

		<hr>
		
		{% block content %}
		{% endblock %}
	</div>
{% endblock %} #}