{% extends 'base.html.twig' %}

{% block title %}
	Logements - {{ parent() }}
{% endblock %}

{% block layout_h3 %}
	Logements
{% endblock %}

{% block content %}
    <div class="col-6">
      {% block form_content %}
      {% endblock %}
    </div>
{% endblock %}
