{% extends 'accomodation/layout.html.twig' %}


{% block header_h2 %}
    Ajouter un logement
{% endblock %}

{% block header_button %}
  <a href="{{ path('app_accomodation_list') }}" class="btn btn-outline-secondary">
    <i class="fas fa-chevron-left"></i>
    Retour à la liste
  </a>
{% endblock %}
