{% extends 'layout-card-md.html.twig' %}


{% block title %}
  Fiches mission - {{ parent() }}
{% endblock %}


{% block header_button %}
  <a href="{{ path('app_mission_list') }}" class="btn btn-outline-secondary">
    <i class="fas fa-chevron-left"></i>
    Retour à la liste
  </a>
{% endblock %}
