<div class="d-flex justify-content-end mt-2">
    <input type="submit" class="btn btn-sm btn-outline-primary mr-2" id="searchSubmitBtn" value="{{ buttonText ?? 'Rechercher' }}" />
    <button onclick="location.reload(true); return false;" class="btn btn-sm btn-outline-secondary" id="searchResetBtn">Réinitialiser</button>
</div>