<p>
  Bonjour {{ name }},
</p>
<p>
  Pour réinitialiser votre mot de passe Alys, suivez les étapes suivantes :
  <ol>
    <li>Cliquez sur <b><a href="{{ url('app_profile_change-pwd') }}">ce lien</a></b> ;</li>
    <li>Connectez vous en copiant-collant votre mot de passe temporaire : <b>{{ password }}</b> ;</li>
    <li>Choisissez un <b>nouveau mot de passe</b>.</li>
  </ol>
  Merci et belle journée !
</p>
<p>
	Alys
</p>