<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <title>{% block title %}Fiches Mission{% endblock %}</title>

    {% block stylesheets %}
      <link href="{{ asset('style/css/style.css') }}" rel="stylesheet">
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!-- Font Awesome -->
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% endblock %}

  </head>

  <body>
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <div class="container">
        <span class="navbar-brand mb-0 h1" href="#">Fiches Mission</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{{ path('app_missions_list') }}">Liste</a>
            <a class="nav-item nav-link" href="{{ path('app_missions_add') }}">Créer une FM</a>
            <a class="nav-item nav-link" href="{{ path('app_accomodation_list') }}">Logements</a>
          </div>
        </div>
      </div>
    </nav>

    <br>
    
    {% block body %}
      <div class="container">
        <h3>{% block layout_h3 %}Fiches Mission{% endblock %}</h3>

        <hr>
        
        {% block content %}
        {% endblock %}
      </div>
    {% endblock %}

    {% block javascripts %}
      <!-- Bootstrap JavaScript -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
      </script>
    {% endblock %}

  </body>
</html>
