{% extends 'base.html.twig' %}


{% block body %}

  <div class="container col-lg-8">
    
    {% block flash_messages %}
      {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="Fermer">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endblock %}

    <div class="card bg-light mb-4">
    
      <div class="card-header bg-white pt-3 d-flex justify-content-between">
        <h3>

          {% block header_h3 %}
            Fiches Mission
          {% endblock %}

        </h3>

        <div>

          {% block header_button %}
            <a href="{{ path('app_mission_list') }}" class="btn btn-outline-secondary">
              <i class="fas fa-chevron-left"></i>
              Retour à la liste
            </a>
          {% endblock %}

        </div>
      </div> {# div card-header #}

      
      <div class="card-body">

        {% block card_body %}
        {% endblock %}

      </div> {# div card-body #}

      <div class="card-footer bg-white">

        {% block card_footer %}
        {% endblock %}

      </div> {# div card-body #}

    </div> {# div card #}
  </div> {# div container #}

{% endblock %}
