{% extends 'base.html.twig' %}


{% block body %}

  <div class="container">
    <div class="d-flex justify-content-between">
      <h2>

        {% block header_h2 %}
          Fiches Mission
        {% endblock %}

      </h2>

      <div>

        {% block header_button %}
        {% endblock %}

      </div>
    </div> {# div d-flex justify-content-between #}

    <hr>

    {% block flash_messages %}
      {{ include('flash-messages.html.twig') }}
    {% endblock %}
    
    {% block content %}
    {% endblock %}

  </div> {# div container #}
{% endblock %}
