{% extends 'base.html.twig' %}


{% block body %}

  <div class="container">
    
    <div class="d-flex justify-content-between">
      <h2>

        {% block header_h2 %}
          Fiches Mission
        {% endblock %}

      </h2>

      <div>

        {% block header_button %}
        {% endblock %}

      </div>
    </div> {# div d-flex justify-content-between #}

    <hr>

    {% block flash_messages %}
      {% for message in app.flashes('notice') %}
          <div class="alert alert-success">
              <a href="#" class="close" data-dismiss="alert" aria-label="Fermer">&times;</a>
              {{ message }}
          </div>
      {% endfor %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}

  </div> {# div container #}

{% endblock %}
