{% extends 'layout-card.html.twig' %}


{% block header %}
  <h4>
    {% block header_h4 %}
    {% endblock %}
  </h4>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
    $(function () {
      $('#main-container').addClass('col-md-7 col-lg-5');
    });
  </script>
{% endblock %}
