.pdf-content {
  font-family: Arial;
  /*font-size*/
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.vertical-flex {
  flex-direction: -webkit-column;
}

.label {

}

.text-input {

}

.text-textarea {

}