* {
  box-sizing: border-box;
}

.font-size-14 {
  font-size: 14px;
}

.bg-inactive {
  background-color: rgba(108, 117, 125, 0.25);
}

.bg-opacity-75 {
  background-color: rgba(0, 0, 0, 0.075);
}

/* validation alerts hidden by default in Bootstrap form theme */
.invalid-feedback {
  display: block;
}


/* mission/list.html.twig */
h3 {
  margin-bottom: 24px;
}

.description-ellipsis {
  width: 250px;
  height: 48px;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-select {
  white-space: nowrap;  /* adjust dropdown menu width to fit text length */
  overflow-y: scroll;   /* add scroll bar */
  max-height: 400px;
}

.input-date {
  width: 140px;
}


/* mission/add.html.twig + mission/edit.html.twig */
#mission_description, #mission_conclusions {
  height: 200px;
}

#mission_info {
  height: 100px;
}


/* mission/view.html.twig */
.form-alike {
  padding: .375rem .75rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.text-form-alike {
  min-width: 117px;
  color: #495057;
  font-weight: bold;
}

/* mission/recap.html.twig */
.table-recap {
  font-size: 12px;
}

.table-recap-id {
  width: 20px;
}
.table-recap-date {
  width: 75px;
}
.table-recap-address {
  width: 250px;
}
.table-recap-description {
  width: 300px;
}
.table-recap-info {
  width: 150px;
}
.table-recap-pdf {
  width: 40px;
}
.table-recap-statut {
  width: 60px;
}

/* inspection/new.html.twig */
.form-to-text {
  padding: 0;
  background-color: #fff !important;
  border: none;
  font-size: 14px;
  height: 100%;
  line-height: 100%;
}

.table-inspection {
  width: 1315px;
  margin-right: auto;
  margin-left: auto;
}

#table-inspection-headers {
  width: 715px;
}

#table-inspection-body {
  width: 600px;
  overflow-x: scroll;
}

#table-inspection-headers thead, #table-inspection-body thead {
  display: table-row;
}

#table-inspection-headers tbody, #table-inspection-body tbody {
  height: 600px;
  display: block;
}

#table-inspection-headers tbody {
  overflow-y: hidden;
}

#table-inspection-body tbody {
  overflow-y: scroll;
}

#table-inspection-headers tr, #table-inspection-body tr {
  height: 75px;
}

.table-inspection-rank {
  min-width: 40px;
  max-width: 40px;
  white-space: initial;
  /*min-width: 3%;*/
}
.table-inspection-theme {
  min-width: 150px;
  max-width: 150px;
  white-space: initial;
  /*min-width: 7%;*/
}
.table-inspection-name {
  /*min-width: 14%;*/
  min-width: 250px;
  max-width: 250px;
  white-space: initial;
}
.table-inspection-description {
  min-width: 275px;
  max-width: 275px;
  white-space: initial;
  /*min-width: 15%;*/
}
.table-inspection-action {
  min-width: 125px;
  max-width: 125px;
  white-space: initial;
  /*min-width: 7%;*/
}
.table-inspection-decision {
  min-width: 200px;
  max-width: 200px;
  white-space: initial;
  /*min-width: 11%;*/
}

.table-inspection-recap {
  min-width: 200px;
  max-width: 200px;
  white-space: initial;
}

.resize-none {
  resize: none;
}

/* address/list.html.twig */
.btn-xs {
  padding: .18rem .38rem;
  line-height: 1.1;
  font-size: 12px;
}

.access-ellipsis {
  width: 250px;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-alike-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  min-width: 300px;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}