/* validation alerts hidden by default in Bootstrap form theme */
.invalid-feedback {
  display: block;
}


/* mission/list.html.twig */
h3 {
  margin-bottom: 24px;
}

.text-ellipsis {
  width: 250px;
  height: 48px;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-select {
  white-space: nowrap;  /* adjust dropdown menu width to fit text length */
  overflow-y: scroll;   /* add scroll bar */
  max-height: 400px;
}

.input-date {
  width: 140px;
}


/* mission/add.html.twig + mission/edit.html.twig */
#mission_description, #mission_conclusions {
  height: 200px;
}

#mission_info {
  height: 100px;
}


/* mission/view.html.twig */

.form-alike {
  padding: .375rem .75rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.text-form-alike {
  min-width: 117px;
  color: #495057;
  font-weight: bold;
}


/* mission/recap.html.twig */

.table-recap {
  font-size: 12px;
}

.table-recap-id {
  width: 20px;
}
.table-recap-date {
  width: 75px;
}
.table-recap-address {
  width: 250px;
}
.table-recap-description {
  width: 300px;
}
.table-recap-info {
  width: 150px;
}
.table-recap-pdf {
  width: 40px;
}
.table-recap-statut {
  width: 60px;
}


/* accomodation/list.html.twig */

.accomodations-table {
  font-size: 14px;
}

.btn-xs {
  padding: .18rem .38rem;
  line-height: 1.1;
  font-size: 12px;
}
