{% extends 'layout-card-sm.html.twig' %}


{% block title %}
  Utilisateurs - {{ parent() }}
{% endblock %}


{% block header_button %}
  {% if is_granted('ROLE_ADMIN') and not ('/monprofil' in app.request.pathinfo) %}
    <a href="{{ path('app_user_list') }}" class="btn btn-outline-secondary">
      <i class="fas fa-chevron-left"></i>
      Retour à la liste
    </a>
  {% endif %}
{% endblock %}